@charset "UTF-8";
/** Possible overrides/additions for wagtailadmin/css/core.css **/

li.menu-item a.app-item {
    border-top: 1px solid rgba(100, 100, 100, 0.2);
    padding-left: 2.5em;
    color: grey;
}

li.menu-item a.app-item-first {
    border-top: 0;
}

.tab-nav li.commerce a {
    padding-left: 2em;
    padding-right: 2em;
}

.tab-nav li.commerce a:before {
  font-family: FontAwesome;
  vertical-align: middle;
  text-transform: none;
  content: "\f1b2";
  margin-right: 0.5em;
  /* padding-bottom: 3px; */
  /* font-size: 1.2em; */
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}