{% load wagtailimages_tags %}

{% block product_list_item %}
<li class="product-list-item">

  {% block product_list_item_thumbnail %}
  <div class="product-list-item-thumbnail">
    <a href="{{ product_page.url}}" title="{{ product_page.image.title }}">
      {% if product_page.image %}
        {% image product_page.image fill-100x100 %}
      {% endif %}
    </a>
  </div>
  {% endblock %}

  {% block product_list_item_details %}
  <div class="product-list-item-details">
    <h4>
      <a href="{{ product_page.url}}" title="More info about the {{ product_page.title }}">
          {{ product_page.title }}
      </a>
    </h4>
    
    {% block product_list_item_product_info %}
    <strong>
      {{ product_page.product.sale_price }}
    </strong>
    {% endblock %}
    
  </div>
  {% endblock %}
  
</li>
{% endblock %}
